$colorPrimary: #000000;
$colorPrimaryLight: rgba(0, 0, 0, 0.8);
$colorSecondry: rgb(7, 150, 255);
$colorAccent: rgb(255, 0, 140);

$dublinBusYellow: #ffcc01;
$dublinBusYellowDark: #ab8f1f;

$irishRailGreen: #07cc00;
$irishRailGreenDark: #0c7908;

$luasPurple: #542f92;
$luasPurpleDark: #553193;

$dublinBikesBlue: #114d57;
$dublinBikesBlueDark: #084c55;

$color-grey: rgb(67, 76, 88);
$color-white: rgb(244, 249, 252);
$color-red: rgb(235, 37, 37);
$color-orange: rgb(245, 103, 20);
$color-yellow: rgb(241, 227, 32);
$color-green: rgb(89, 199, 16);
$color-blue: rgb(25, 138, 243);