@import "../../styles/_variables";

$animate: all 0.2s ease-in-out;

.minor-nav-item {
    font-size: 2.25rem;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 0.75rem 0 !important;
    font-family: "Nunito Sans", sans-serif;
    transition: $animate;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.5s;
        opacity: 0;
        right: 50%;
        background-color: darken($colour-blue, 5%);
    }

    &:before {
        left: 50%;
    }

    &:hover,
    &:active,
    &:focus,
    &.is-active {
        background-color: white !important;
        &:before,
        &:after {
            width: 47.5%;
            opacity: 1;
        }
    }
}