.features-bar {
  background-color: $colorPrimary;
  margin: 0;
  padding: 1rem;

  .feature-item {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}