.hero {
  z-index: -5;
}

.header {
  font-family: "Helvetica Neue", sans-serif;
  color: whitesmoke;

  .header-title {
    line-height: 4rem;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
    padding-left: 3rem;
  }
}
