.hero.is-dark {
  background-color: $colorPrimary;
  // clip-path: polygon(0 100%, 0 60%, 100% 100%);

  .header-container {
    width: 100%;
    height: 40rem;

    .columns {
      height: 100%;
    }

    .columnInfo {
      margin-right: 2rem;
      padding-left: 1rem;

      .info-container {
        padding-left: 1rem;
      }

      .header-title {
        font-size: 4rem;
        font-weight: bold;

        b {
          padding-left: 4rem;
          color: #0c7908;
        }
      }

      .header-subtitle {
        font-size: 1.5rem;
        margin-top: -1.25rem;
      }
    }

    .columnMap div {
      border-radius: 5px;
      //border: 2px solid $colorSecondry;
    }
  }
}