.navbar {
  background-color: $colorPrimary !important;
  border-bottom: 2px solid $colorAccent;

  .navbar-title:hover {
    background-color: inherit !important;
    color: inherit;
  }

  .navbar-item:hover:not(.navbar-title) {
    background-color: inherit !important;
    border-bottom: 0;
  }

  .navbar-brand {
    letter-spacing: 2px;
    font-size: 1.3rem;

    .navbar-burger {
      color: whitesmoke;
    }
  }
}
