.navbar {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;

  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 5px;

  .navbar-title:hover {
    background-color: transparent;
    color: inherit;
  }

  .navbar-item:hover:not(.navbar-title) {
    background-color: transparent;
    border-bottom: 0;
  }

  .navbar-brand {
    letter-spacing: 2px;
    font-size: 1.3rem;

    .navbar-burger {
      color: whitesmoke;
    }
  }
}
