.realTime {
  height: 100%;

  .map {
    margin-top: 6.75rem;
    padding: 0;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem
  }

  .realTimeHeader {
    margin-top: 6rem;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    h1 {
      font-size: 2rem;
      color: white;
    }

    svg {
      color: white;
      font-size: 2rem;
    }

    span {
      color: white;
      font-size: 1.25rem;
    }

    .control {
      margin-right: 20rem;
    }

    .favourite {
      font-size: 1.25rem;
      color: white;
    }
  }

  .realTimeResults {
    margin-left: 1rem;

    h1 {
      font-size: 1.25rem;
      text-transform: uppercase;
    }

    .loading {
      margin-top: 5rem;
    }

    .realTimeResultItem {
      background-color: whitesmoke;
      border-radius: 5px;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}