.serviceBox {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: whitesmoke;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;

  &:hover {
    background-color: grey;
  }

  .service-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}