.transportItem {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  color: black;

  &:hover {
    color: black;
  }

  b {
    font-size: 1.5rem;
  }

  svg {
    font-size: 1.5rem;
  }
}