$colorPrimary: #000000;
$colorPrimaryLight: rgba(0, 0, 0, 0.8);
$colorSecondry: rgb(0, 153, 255);
$colorAccent: rgb(255, 0, 136);

$dublinBusYellow: #ffcc01;
$dublinBusYellowDark: #ab8f1f;

$irishRailGreen: #07cc00;
$irishRailGreenDark: #0c7908;

$luasPurple: #542f92;
$luasPurpleDark: #553193;

$dublinBikesBlue: #114d57;
$dublinBikesBlueDark: #084c55;