// We can import bulma into the project using Sass.
@import "../../node_modules/bulma/bulma.sass";

@import "variables";

@import "components/header";
@import "components/navbar";

@import "components/fancySearchBox";
@import "components/transportItem";

html, body, #__next, .columns {
  height: 100%;
  margin: 0;
}

.columnInfo {
  margin-left: 2rem;
  margin-top: 10rem;
}

.columnMap {
  width: 100% !important;
  background-color: red;
}

.transportFooter {
  position: fixed;
  width: 100%;
  bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;

  b {
    font-size: 1.5rem;
  }

  .transportFooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: green;
  }
}