// We can import bulma into the project using Sass.
@import "../../node_modules/bulma/bulma.sass";

@import "variables";

@import "components/header";
@import "components/navbar";
@import "components/serviceBox";

.gradient {
  animation: gradient 15s infinite;
}

@keyframes gradient {
  0%, 100% {
    background-color: $dublinBusYellowDark;
  }
  20%, 80% {
    background-color: $irishRailGreenDark;
  }
  40%, 60% {
    background-color: $luasPurple;
  }
  50% {
    background-color: $dublinBikesBlue;
  }
}
